.desc {
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(22, 41, 16, 0.95));
    background-position: center;
    background-repeat: no-repeat;
}

.top-text1 {
    font-size: 3rem;
    font-weight: bold;
    color: #629b6f;
    
}

.top-text2 {
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
}

.card-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: #396944;
}

.card-img {
    width: 33.75rem;
    height: 20rem
}

.reg-box {
    box-shadow: 0.3rem 0.3rem 0.5rem #5f926b
}

#msgBox {
    font-size: 1rem;
    font-weight: bold;
    color: #7bc08a;
    text-align: center;

}

.underline {
    border-bottom: 2px solid #28a745;
}

.jumbo-border {
    border-bottom: #28a745 3px solid;
    box-shadow: -0.3rem -0.3rem 0.5rem #5f926b
}

.text-bolder {
    font-size: 3.2rem;
	font-weight: bold;
    color: rgb(11, 31, 19);
}

.bolder {
    font-size: 1.5rem;
	font-weight: bold;
    color: rgb(20, 54, 34);
    text-align: center;
    
}

.icon {
    font-size: 3.2rem;
	font-weight: bold;
    color: #28a745;
    text-align: center;
}

.pointer {
    cursor: pointer;
}


/* Bootstrap edits */
.jumbotron {
    padding: 1rem 2rem 4rem 2rem;
}

a .nav-link.active {
    color: #ffffff;
}